@model DemoApp.Models.BaiHoc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BaiHoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KhoaHocId" class="control-label"></label>
                <select asp-for="KhoaHocId" class ="form-control" asp-items="ViewBag.KhoaHocId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenBaiHoc" class="control-label"></label>
                <input asp-for="TenBaiHoc" class="form-control" />
                <span asp-validation-for="TenBaiHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiNoiDung" class="control-label"></label>
                <input asp-for="LoaiNoiDung" class="form-control" />
                <span asp-validation-for="LoaiNoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuongDanNoiDung" class="control-label"></label>
                <input asp-for="DuongDanNoiDung" class="form-control" />
                <span asp-validation-for="DuongDanNoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuTuHienThi" class="control-label"></label>
                <input asp-for="ThuTuHienThi" class="form-control" />
                <span asp-validation-for="ThuTuHienThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
